<a href="https://colab.research.google.com/github/nicolehoogland8/LinearAlgebraCoding/blob/main/lecture_6_3_group_and_aggregate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Grouping and Aggregating in R

In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
births <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/NC_Birth.csv')
head(births)

  Father.Minority Father.Age Father.Years.of.Education Mother.Minority
1 Nonwhite        50         12                        White
2 White           19          9                        White
3 White           37         17                        White
4                 NA         NA                        Nonwhite
5 Nonwhite        39         11                        Nonwhite
6 White           20         11                        Nonwhite
  Mother.Age Mother.Years.of.Education Marital.Status Mother.Smoker
1 24         15                        Unmarried      N
2 18          9                        Unmarried      Y
3 35         17                        Married        N
4 22         14                        Unmarried      N
5 31         16                        Unmarried      N
6 19         12                        Unmarried      N
  Mother.Avg.Cigs Mother.Weight.Gain ⋯ Month.of.Birth Day.of.Birth Gender
1  0              50                 ⋯  2             23           Female
2 23              35                 ⋯  1             25           Female
3  0              24                 ⋯  1             25           Female
4  0              33                 ⋯ 11             10           Male
5  0              30                 ⋯  5             18           Female
6  0              10                 ⋯ 11              6           Male
  Number.of.Prenatal.Visits Kotelchuck.Index Gestational.Age Birth.Weight.Grams
1 10                        3_Adequate       38              2866
2 9                         3_Adequate       35              3121
3 20                        4_AdequatePlus   38              2667
4 15                        4_AdequatePlus   38              2696
5 12                        1_Inadequate     38              2979
6 10                        4_AdequatePlus   36              3036
  Low.Birth Apgar.Score.One.Minute Apgar.Score.Five.Minutes
1 N         9                      9
2 N         8                      9
3 N         8                      9
4 N         8                      9
5 N         4                      9
6 N         9                      9

## Simple aggregation (and dealing with missing values)

#### Note: `NA + 1 == NA` in R

In [3]:
(births 
 %>% summarize(avg_father_educ = mean(Father.Years.of.Education))
 )

  avg_father_educ
1 NA

#### Option 1 -- Filter out incomplete rows

In [4]:
(births 
 %>% filter(complete.cases(Father.Years.of.Education)) 
 %>% summarize(avg_father_educ = mean(Father.Years.of.Education))
 )

  avg_father_educ
1 12.79394

#### Option 2 -- set `na.rm=TRUE`

In [5]:
(births 
 %>% summarize(avg_father_educ = mean(Father.Years.of.Education, na.rm = TRUE))
 )

  avg_father_educ
1 12.79394

## Grouped aggregation

***One grouping variable:***

In [6]:
(births 
 %>% group_by(Gender) 
 %>% summarize(avg_wt = mean(Birth.Weight.Grams, na.rm = TRUE))
 )

  Gender avg_wt
1 Female 3203.117
2 Male   3279.816

***Two grouping variables:***

In [7]:
(births 
 %>% group_by(Gender, Marital.Status) 
 %>% summarize(avg_wt = mean(Birth.Weight.Grams, na.rm = TRUE))
 )

`summarise()` has grouped output by 'Gender'. You can override using the `.groups` argument.

  Gender Marital.Status avg_wt
1 Female Married        3249.788
2 Female Unmarried      3137.405
3 Male   Married        3321.245
4 Male   Unmarried      3219.448

## <font color="red"> Activity 6.3 - Problem 1 </font>

Use `group_by` and/or `summarize` to perform each of the following tasks.

**Tasks:**

1. Compute the overall average (`mean`) and standard deviation (`sd`) of the birth weights (`Birth.Weight.Grams`)
2. Compute the overall average (`mean`) and standard deviation(`sd`) of the birth weights (`Birth.Weight.Grams`) for each category of mother's smoking status (`Mother.Smoker`)

In [12]:
births %>% summarize(avg.weight = mean(Birth.Weight.Grams))

  avg.weight
1 3242.693

In [13]:
births %>% summarize(sd.weight = sd(Birth.Weight.Grams))

  sd.weight
1 601.4601

In [14]:
births %>% group_by(Mother.Smoker) %>% summarize(grouped.avg.weight = mean(Birth.Weight.Grams))

  Mother.Smoker grouped.avg.weight
1               3316.125
2 N             3269.191
3 Y             3038.147

In [15]:
births %>% group_by(Mother.Smoker) %>% summarize(grouped.sd.weight = sd(Birth.Weight.Grams))

  Mother.Smoker grouped.sd.weight
1               786.1369
2 N             601.3559
3 Y             557.2024

## Working with a Categorical Response

Similar to the deficiencies we pointed out with JMP's **Table > Summary**, 
`dplyr` makes us work when creating two way summary tables for two categorical variables.

### Getting category counts

It is relatively easy to get counts for a single categorical variable or a combination of categorical variables using the `n` summary function.

In [ ]:
(births 
 %>% group_by(Low.Birth, Mother.Smoker) 
 %>% summarize(cnt = n())
 )

`summarise()` has grouped output by 'Low.Birth'. You can override using the `.groups` argument.

  Low.Birth Mother.Smoker cnt
1 N                          7
2 N         N             1615
3 N         Y              203
4 Y                          1
5 Y         N              146
6 Y         Y               28

### Creating a two-way table with counts and row percents

Suppose that we want to summarize the relationship between an explanatory variable (Mother Smoker) and a response variable (Low Birth) in the usual way (explanatory variable in rows, summaries for the response variables in columns.  We can accomplish this by performing the following steps.

1. Determine all unique categories
2. Make indicator columns for each response category
3. Group by the explanatory variable and aggregate the response to get the counts by summing
4. Compute the row percents using the resulting counts

#### Step 1A - Determine the categories of the variables

In [ ]:
(births 
 %>% group_by(Low.Birth, Mother.Smoker) 
 %>% summarize(cnt = n())
 )

`summarise()` has grouped output by 'Low.Birth'. You can override using the `.groups` argument.

  Low.Birth Mother.Smoker cnt
1 N                          7
2 N         N             1615
3 N         Y              203
4 Y                          1
5 Y         N              146
6 Y         Y               28

#### Step 2A - Create indicator columns for each category of the response variable.

In [ ]:
(births 
 %>% select(Mother.Smoker, Low.Birth) # Temp. for convenient
 %>% mutate(low_birth = ifelse(Low.Birth=='Y',1,0),
            not_low_birth = ifelse(Low.Birth=='N',1,0)) 
 %>% head # Temp. for convenient
)

  Mother.Smoker Low.Birth low_birth not_low_birth
1 N             N         0         1
2 Y             N         0         1
3 N             N         0         1
4 N             N         0         1
5 N             N         0         1
6 N             N         0         1

#### Step 3 - Compute the `sum` of each indicator

In [ ]:
(births 
 %>% mutate(low_birth = ifelse(Low.Birth=='Y',1,0),
            not_low_birth = ifelse(Low.Birth=='N',1,0))
 %>% group_by(Mother.Smoker)
 %>% summarise(total_low_birth = sum(low_birth),
               total_not_low_birth = sum(not_low_birth))
)

  Mother.Smoker total_low_birth total_not_low_birth
1                 1                7
2 N             146             1615
3 Y              28              203

#### Step 4 - Compute the row percents

In [ ]:
(births 
 %>% mutate(low_birth = ifelse(Low.Birth=='Y',1,0),
            not_low_birth = ifelse(Low.Birth=='N',1,0))
 %>% group_by(Mother.Smoker)
 %>% summarise(total_low_birth = sum(low_birth),
               total_not_low_birth = sum(not_low_birth))
 %>% mutate(percent_low_birth = round(total_low_birth/(total_low_birth + total_not_low_birth)*100, 1),
            percent_not_low_birth = round(total_not_low_birth/(total_low_birth + total_not_low_birth)*100, 1))
)

  Mother.Smoker total_low_birth total_not_low_birth percent_low_birth
1                 1                7                12.5
2 N             146             1615                 8.3
3 Y              28              203                12.1
  percent_not_low_birth
1 87.5
2 91.7
3 87.9

#### [Optional] Step 5 - Make `NA` more readable

In [ ]:
(births 
 %>% mutate(low_birth = ifelse(Low.Birth=='Y',1,0),
            not_low_birth = ifelse(Low.Birth=='N',1,0))
 %>% group_by(Mother.Smoker)
 %>% summarise(total_low_birth = sum(low_birth),
               total_not_low_birth = sum(not_low_birth))
 %>% mutate(percent_low_birth = round(total_low_birth/(total_low_birth + total_not_low_birth)*100, 1),
            percent_not_low_birth = round(total_not_low_birth/(total_low_birth + total_not_low_birth)*100, 1),
            Mother.Smoker = recode(Mother.Smoker,
                                   `Y` = 'Y',
                                   `N` = 'N',
                                   .default = "Unknown"))
)

`summarise()` ungrouping output (override with `.groups` argument)

  Mother.Smoker total_low_birth total_not_low_birth percent_low_birth
1 Unknown         1                7                12.5
2 N             146             1615                 8.3
3 Y              28              203                12.1
  percent_not_low_birth
1 87.5
2 91.7
3 87.9

## <font color="red"> Activity 6.3 - Problem 2 </font>

Use `group_by` and/or `summarize` to perform each of the following tasks.

**Tasks:**

1. Compute the counts (`n()`) for each category of the [Kotelchuck index](https://www-doh.state.nj.us/doh-shad/query/Kotelchuck.html) (`Kotelchuck.Index`)
2. Compute the counts and row percents when the explanatory variable is the Kotelchuck index (`Kotelchuck.Index`) and the response variable is whether or not there was a low birth weight (`Low.Birth`)

In [16]:
births %>% group_by(Kotelchuck.Index) %>% summarize(cnt = n())

  Kotelchuck.Index cnt
1 1_Inadequate     233
2 2_Intermediate   160
3 3_Adequate       727
4 4_AdequatePlus   851
5 5_NotReported     29

In [22]:
(births %>% mutate(low_birth = ifelse(Low.Birth == 'Y',1,0),
not_low_birth = ifelse(Low.Birth == 'N',1,0))
%>% group_by(Kotelchuck.Index)
%>% summarise(total_low_birth = sum(low_birth), total_not_low_birth = sum(not_low_birth))
%>% mutate(percent_low_birth = round(total_low_birth/(total_low_birth + total_not_low_birth)*100, 1),
            percent_not_low_birth = round(total_not_low_birth/(total_low_birth + total_not_low_birth)*100, 1))
)

  Kotelchuck.Index total_low_birth total_not_low_birth percent_low_birth
1 1_Inadequate      16             217                  6.9
2 2_Intermediate    12             148                  7.5
3 3_Adequate        24             703                  3.3
4 4_AdequatePlus   119             732                 14.0
5 5_NotReported      4              25                 13.8
  percent_not_low_birth
1 93.1
2 92.5
3 96.7
4 86.0
5 86.2

***A mutate-group-aggregate-filter (note "" != NA):***

In [ ]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

In [ ]:
surveys %>%
  mutate(rodent = ifelse(taxa=='Rodent','yes','no')) %>% 
  group_by(rodent, sex) %>%
  summarize(cnt = n(), avg_wt = mean(weight,na.rm=TRUE)) %>%
  filter(sex!="")

`summarise()` regrouping output by 'rodent' (override with `.groups` argument)

  rodent sex cnt   avg_wt
1 yes    F   15690 42.17055
2 yes    M   17348 42.99538

# Translating JMP to `dplyr/tidyr`

### Simple Aggregations

```{r}
surveys %>%
  summarize(
    avg_wgt = mean(weight, 
                   na.rm = TRUE))
```

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/simple_aggregation_1.png">

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/simple_aggregation_2.png">

### Group and Aggregate

```{r}
grp_agg <- 
  surveys %>%
    group_by(taxa) %>%
    summarize(avg = mean(weight, na.rm = TRUE))
grp_agg
```

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/group_and_aggregate_0.png">

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/group_and_aggregate_1.png">

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/group_and_aggregate_2.png">

### Multiple Group Variables

<img width="850" src="https://raw.githubusercontent.com/WSU-DataScience/DSCI_210_R_notebooks/main/img/grp2_agg.PNG">